.mainWrapper {
  display: flex;
}

body {
  background-color: #212121;
}

.imageWrapper {
  /* width: 51%; */
}

img {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}

span {
  width: 66%;
  color: #e0e0e0;
}

p {
  color: #c8c8c8;
  height: 173px;
  margin: 0px;
}

.feedButton {
  height: 50px;
  width: 150px;
  background-color: #1db954;
  border: none;
  color: #121212;
  transition: 0.2s ease-in-out;
}

.feedButton:hover {
  background-color: #54d782;
}

.feedButton:disabled {
  background-color: grey;
}

.buttonAndBackWrapper {
  margin-top: 20px;
  width: 51%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #535353;
}

h1,
h4,
h3 {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  color: #eeeeee;
  margin: 5px 0px 5px 0px;
}

.headerTitle {
  margin-left: 20px;
}

.animalContainer {
  width: 51%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: #535353;
  margin-bottom: 30px;
  border-radius: 6px;
}

.backClass {
  height: initial;
  color: #eeeeee;
}

.backClass:hover {
  cursor: pointer;
  color: #1db954;
}
